.Section4-maincontainer{
    justify-content: center;
    display: flex;
    /* background-image: url("../../assets/images/section6-bg.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    }
.Section4-container1{
    margin-left: auto;
    margin-right: auto;
    /* width: 75%; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column; 
    justify-content: space-around;
    

}
#Section4-container {
    justify-content: center;
  }
  .Section4-part-1{
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
  }
  .Section4-text1
  {
      font-size:20px;
      color:#3E82FC;
      font-weight:400;
  }
  .Section4-text2
  {
      font-size:45px;
      color:#05060A;
      font-weight: bold; 
  }
  .Section4-part-2{
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      justify-content:space-between;

  }

  .Section4-bottom-container-1{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap:10px 60px;
    justify-content: space-between;
    align-items: center;
      /* margin-right: 30px; */
    

  }
  .Section4-bottom-container-2{
      display: flex;
      margin-top: 60px;
      justify-content:space-between;
      margin-right: 80px;
      gap:10px 200px;


  }
